node_modules
.DS_Store
dist
dist-ssr
*.local
yarn.lock
package-lock.json
.vercel
pnpm-lock.yaml
package-lock.json
package-lock.json
package-lock.json
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app/page.js
.next/server/webpack-runtime.js
.next/static/chunks/app/layout.js
.next/static/chunks/webpack.js
.next/static/webpack/app/layout.f20e1777456c916b.hot-update.js
.next/static/webpack/f20e1777456c916b.webpack.hot-update.json
.next/static/webpack/webpack.f20e1777456c916b.hot-update.js
.next/trace
