@font-face {
	font-family: nunito;
	src: url(./assets/Nunito-Regular.ttf);
}
/* General page layout 
--------------------------*/
.bg-top-planet {
	position: absolute;
	width: 460.4px;
	height: 460.4px;

	background: linear-gradient(180deg, #174AFF 0%, rgba(82, 0, 255, 0.06) 87.5%, rgba(245, 138, 37, 0) 100%, #0038FD 100%);
	filter: blur(100px);

	z-index: -1;
	top:0;
	right:0;
}
.bg-middle-planet {
	position: absolute;
	width: 629.21px;
	height: 629.21px;
	background: linear-gradient(180deg, #575EFF 0%, rgba(17, 112, 255, 0.46) 100%);
	filter: blur(200px);
	z-index: -1;
	bottom: 0;
	right: 200px;
	top: 200px;
}
/* General text
--------------------------*/
strong {
	font-weight: 600;
}
.header-title {
	font-size: 3rem;
	line-height: 2.75rem;
	font-weight: 700;
	letter-spacing: -0.025em;
	margin-bottom: 2rem;
}
.header-subtitle {
	font-size: 2rem;
	line-height: 2.75rem;
	font-weight: 700;
	letter-spacing: -0.025em;
	margin-bottom: 2rem;
}

.brief {
	max-width: 92%;
	font-size: 28px;
	line-height: 150%;
	min-width: 410px;
}
.brief-responsibility {
	display: block;
	margin: 30px 0 0 0;
	color: #6f6f6f;
	font-size: 1.16667vw;
	letter-spacing: 0.04375em;
	line-height: 156%;
}
.project-link {
	height: 80vh;
	width: 55vh;
	max-width: 57vh;
	max-height: 74.81vw;
	text-align: left;
	display: inline-block;
	transform: translateY(0);
	transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.project-link:hover,
.project-link:focus {
	box-shadow: 0 0 0 8px rgb(255 255 255 / 12%);
	transform: translateY(-4px);
}
.link-animate {
	transform: translateY(0);
	transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);	
}
.link-animate:hover,
.link-animate:focus {
	box-shadow: 0 0 0 8px rgb(255 255 255 / 12%);
	transform: translateY(-4px);
}
/* Specific page layout 
--------------------------*/

a {
	text-decoration: none;
	text-decoration: underline;
}

/* Not too many browser support this yet but it's good to add! */
@media (prefers-contrast: high) {
	.orb-canvas {
		display: none;
	}
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 840px) {
	.grid-2 {
		max-width: 620px;
	}
	.overlay {
		width: 100%;
	}

	.overlay__title {
		font-size: 1.25rem;
		line-height: 2rem;
		margin-bottom: 1.5rem;
	}

	.overlay__description {
		font-size: 0.875rem;
		line-height: 1.5rem;
		margin-bottom: 2.5rem;
	}
}

@media only screen and (max-width: 600px) {
	.overlay {
		padding: 0px;
	}
	.overlay-inner {
		padding: 10px;
	}
	.overlay__btn {
		width: 100%;
		font-size: 0.75rem;
		margin-right: 0;
	}

	.overlay__btn:first-child {
		margin-bottom: 1rem;
	}
}
