@font-face {
	font-family: 'Custom Font';
	src: url('/assets/fonts/AvertaCY-Light.woff2') format('woff2');
	src: url('/assets/fonts/AvertaCY-Regular.woff2') format('woff2');
	src: url('/assets/fonts/AvertaCY-Semibold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background: #0b0c0d;
	color: #fff;
	font-family: 'Averta CY', sans-serif !important;
	font-size: 14px;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* General page layout 
--------------------------*/
.bg-blur {
	backdrop-filter: saturate(180%) blur(20px);
}
.text-gradient {
	background-image: linear-gradient(
		45deg,
		var(--base) 25%,
		var(--complimentary2)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	background-clip: text;
}
.bg-top-planet {
	width: 460.4px;
	height: 460.4px;

	background: linear-gradient(
		180deg,
		#174aff 0%,
		rgba(82, 0, 255, 0.06) 87.5%,
		rgba(245, 138, 37, 0) 100%,
		#0038fd 100%
	);
	filter: blur(100px);

	z-index: -1;
}
.bg-middle-planet {
	position: absolute;
	width: 629.21px;
	height: 629.21px;
	background: linear-gradient(
		180deg,
		#575eff 0%,
		rgba(17, 112, 255, 0.46) 100%
	);
	filter: blur(200px);
	z-index: -1;
	bottom: 0;
	right: 200px;
	top: 200px;
}
.large-container {
	max-width: 1440px;
	width: 90%;
	margin: auto;
}
.hp-banner {
	padding-top: 120px;
	padding-bottom: 120px;
	position: relative;
	overflow: hidden;
	background-image: none;
	color: rgb(214, 227, 238);
}
.subtitle-light {
	color: rgb(214, 227, 238);
}
.circle-hover {
	width: 378px;
	height: 378px;
	background: #174aff;
	filter: blur(400px);
	position: absolute;
}
/* CRT text effects */
@keyframes flicker {
	0% {
		opacity: 0.27861;
	}
	5% {
		opacity: 0.34769;
	}
	10% {
		opacity: 0.23604;
	}
	15% {
		opacity: 0.90626;
	}
	20% {
		opacity: 0.18128;
	}
	25% {
		opacity: 0.83891;
	}
	30% {
		opacity: 0.65583;
	}
	35% {
		opacity: 0.67807;
	}
	40% {
		opacity: 0.26559;
	}
	45% {
		opacity: 0.84693;
	}
	50% {
		opacity: 0.96019;
	}
	55% {
		opacity: 0.08594;
	}
	60% {
		opacity: 0.20313;
	}
	65% {
		opacity: 0.71988;
	}
	70% {
		opacity: 0.53455;
	}
	75% {
		opacity: 0.37288;
	}
	80% {
		opacity: 0.71428;
	}
	85% {
		opacity: 0.70419;
	}
	90% {
		opacity: 0.7003;
	}
	95% {
		opacity: 0.36108;
	}
	100% {
		opacity: 0.24387;
	}
}
@keyframes textShadow {
	0% {
		text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
			-0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	5% {
		text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
			-2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	10% {
		text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
			-0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	15% {
		text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
			-0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	20% {
		text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
			-3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	25% {
		text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
			-1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	30% {
		text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
			-0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	35% {
		text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
			-3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	40% {
		text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
			-3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	45% {
		text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
			-2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	50% {
		text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
			-0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	55% {
		text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
			-2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	60% {
		text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
			-2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	65% {
		text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
			-2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	70% {
		text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
			-0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	75% {
		text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
			-1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	80% {
		text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
			-0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	85% {
		text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
			-0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	90% {
		text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
			-3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	95% {
		text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
			-2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	100% {
		text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
			-2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
}
.crt::after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	animation: flicker 0.55s infinite;
}
.crt::before {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
		linear-gradient(
			90deg,
			rgba(255, 0, 0, 0.06),
			rgba(0, 255, 0, 0.02),
			rgba(0, 0, 255, 0.06)
		);
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}
.crt {
	animation: textShadow 2s infinite;
}
#terminal-text {
	white-space: normal;

	color: #fff;
}
#code {
	color: #fff;
	white-space: normal;
}
.lrg-copy {
}
.blink {
	opacity: 0;
	animation: blinker 0.75s linear infinite;
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
	51% {
		opacity: 1;
	}
	98% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
}
/* General text
--------------------------*/
strong {
	font-weight: 600;
}
.header-title {
	font-size: 3rem;
	line-height: 2.75rem;
	font-weight: 700;
	letter-spacing: -0.025em;
	margin-bottom: 2rem;
}
.header-subtitle {
	font-size: 2rem;
	line-height: 2.75rem;
	font-weight: 700;
	letter-spacing: -0.025em;
	margin-bottom: 2rem;
}

.brief {
	max-width: 92%;
	line-height: 133%;
	letter-spacing: -0.03em;
	min-width: 410px;
}
.brief-responsibility {
	display: block;
	margin: 30px 0 0 0;
	color: #6f6f6f;
	letter-spacing: 0.04375em;
	line-height: 156%;
}
.project-link {
	max-height: 150vh;
	border-radius: 10px;
	width: auto;
	text-align: left;
	display: inline-block;
	transform: translateY(0);
	transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.project-link:hover,
.project-link:focus {
	transform: translateY(-4px);
}
.link-animate {
	transform: translateY(0);
	transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.link-animate:hover,
.link-animate:focus {
	box-shadow: 0 0 0 8px rgb(255 255 255 / 12%);
	transform: translateY(-4px);
}
/* Specific page layout 
--------------------------*/

@media only screen and (max-width: 1140px) {
}

@media (prefers-contrast: high) {
	/* Not too many browser support this yet but it's good to add! */
	.orb-canvas {
		display: none;
	}
}
@media only screen and (max-width: 840px) {
	.project-link {
		height: 50vh;
	}
}
@media only screen and (max-width: 600px) {
	.brief {
		min-width: auto;
	}
}
/**********************
custom cursor
*/
.cb-cursor {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	contain: layout style size;
	pointer-events: none;
	will-change: transform;
	transition: opacity 0.3s, color 0.4s;
}
.cb-cursor:before {
	content: '';
	position: absolute;
	top: -24px;
	left: -24px;
	display: block;
	width: 48px;
	height: 48px;
	transform: scale(0);
	background: #fff;
	border-radius: 50%;
	transition: transform 0.3s ease-in-out, opacity 0.1s;
}
.cb-cursor-text {
	position: absolute;
	top: -18px;
	left: -18px;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(0) rotate(10deg);
	opacity: 0;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: -0.01em;
	transition: opacity 0.4s, transform 0.3s;
	mix-blend-mode: exclusion;
}
@supports (mix-blend-mode: exclusion) {
	.cb-cursor.-exclusion,
	.cb-cursor.-opaque {
		mix-blend-mode: exclusion;
	}
}
@supports (mix-blend-mode: exclusion) {
	.cb-cursor.-exclusion:before,
	.cb-cursor.-opaque:before {
		background: #fff;
	}
}
.cb-cursor.-normal,
.cb-cursor.-text {
	mix-blend-mode: normal;
}
.cb-cursor.-normal:before,
.cb-cursor.-text:before {
	background: currentColor;
}
.cb-cursor.-inverse {
	color: #fff;
}
.cb-cursor.-visible:before {
	transform: scale(0.2);
}
.cb-cursor.-visible.-active:before {
	transform: scale(0.23);
	transition-duration: 0.2s;
}
.cb-cursor.-pointer:before {
	transform: scale(0.15);
}
.cb-cursor.-text:before {
	opacity: 0.85;
	transform: scale(1.7);
}
.cb-cursor.-text .cb-cursor-text {
	opacity: 1;
	transform: scale(1);
}
.cb-cursor.-text.-active:before {
	transform: scale(1.6);
	transition-duration: 0.2s;
}
.cb-cursor.-opaque:before {
	transform: scale(1.32);
}
.cb-cursor.-opaque.-active:before {
	transform: scale(1.2);
}
.cb-cursor.-lg:before {
	transform: scale(2);
}
.cb-cursor.-hidden:before {
	transform: scale(0);
}
.cb-btn_more.-inverse .cb-btn_more-ripple span {
	background: #000;
}
/* btn underlined animation */
.btn-underlined {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.btn-underlined:before,
.btn-underlined:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 0;
	height: 3px;
}
.btn-underlined:before {
	left: 0;
	transition: width 0s ease, background-color 0.5s ease;
}
.btn-underlined:after {
	right: 0;
	background-color: white;
	transition: width 0.5s ease;
}
.btn-underlined:hover:before,
.btn-underlined:hover:after {
	width: 100%;
}
.btn-underlined:hover:before {
	background-color: white;
	transition: width 0.5s ease;
}
.btn-underlined:hover:after {
	background: transparent;
	transition: all 0s ease;
}

/* outlined large btn animated */
.cb-btn_more {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 57px;
}

.cb-btn_more {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 57px;
	padding: 0 32px;
	-webkit-border-radius: 47px;
	-moz-border-radius: 47px;
	border-radius: 47px;
}

.cb-btn_more:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px rgba(0, 0, 0, 0.1) solid;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	border-radius: inherit;
	-webkit-transition: border-color 0.2s;
	-o-transition: border-color 0.2s;
	-moz-transition: border-color 0.2s;
	transition: border-color 0.2s;
}
.cb-btn_more[data-magnetic]:before {
	content: '';
	display: block;
	position: absolute;
	top: -40px;
	left: -40px;
	right: -40px;
	bottom: -40px;
}
.cb-btn_more-title {
	position: relative;
	top: -1px;
	display: block;
	overflow: hidden;
	z-index: 2;
}
.cb-btn_more svg {
	position: relative;
	z-index: 2;
	margin: 0 9px 0 0;
	font-size: 23px;
	-webkit-transition: color 0.4s;
	-o-transition: color 0.4s;
	-moz-transition: color 0.4s;
	transition: color 0.4s;
}
@media (min-width: 768px) {
	.cb-btn_more svg {
		margin: 0 12px 0 0;
		font-size: 28px;
	}
}
.cb-btn_more-title {
	position: relative;
	top: -1px;
	display: block;
	overflow: hidden;
	z-index: 2;
}
.cb-btn_more-title span {
	display: block;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
	-webkit-transition: color 0.2s, -webkit-transform 0.4s;
	transition: color 0.2s, -webkit-transform 0.4s;
	-o-transition: color 0.2s, -o-transform 0.4s;
	-moz-transition: color 0.2s, transform 0.4s, -moz-transform 0.4s;
	transition: color 0.2s, transform 0.4s;
	transition: color 0.2s, transform 0.4s, -webkit-transform 0.4s,
		-moz-transform 0.4s, -o-transform 0.4s;
}
.cb-btn_more.-inverse {
	color: #000;
}
.cb-btn_more.-inverse:after {
	border: 0;
	background: #000;
}
.cb-btn_more.-inverse .cb-btn_more-ripple span {
	background: #fff;
}
@media (min-width: 1200px) {
	.cb-btn_more-title span {
		font-size: 18px;
	}
}
.cb-btn_more-title span:after {
	content: attr(data-text);
	display: block;
	position: absolute;
	top: 150%;
	left: 0;
	-webkit-transform: skewY(5deg);
	-moz-transform: skewY(5deg);
	-ms-transform: skewY(5deg);
	-o-transform: skewY(5deg);
	transform: skewY(5deg);
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
	-webkit-transition: -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	-o-transition: -o-transform 0.4s;
	-moz-transition: transform 0.4s, -moz-transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s, -moz-transform 0.4s,
		-o-transform 0.4s;
}
.cb-btn_more-ripple span {
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	background: currentColor;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0, 1),
		-webkit-border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
	transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0, 1),
		-webkit-border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
	-o-transition: border-radius 0.5s cubic-bezier(0.4, 0, 0, 1),
		-o-transform 0.5s cubic-bezier(0.4, 0, 0, 1);
	-moz-transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1),
		border-radius 0.5s cubic-bezier(0.4, 0, 0, 1),
		-moz-transform 0.5s cubic-bezier(0.4, 0, 0, 1),
		-moz-border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
	transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1),
		border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
	transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1),
		border-radius 0.5s cubic-bezier(0.4, 0, 0, 1),
		-webkit-transform 0.5s cubic-bezier(0.4, 0, 0, 1),
		-moz-transform 0.5s cubic-bezier(0.4, 0, 0, 1),
		-o-transform 0.5s cubic-bezier(0.4, 0, 0, 1),
		-webkit-border-radius 0.5s cubic-bezier(0.4, 0, 0, 1),
		-moz-border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
}
.cb-btn_more::after {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px rgba(0, 0, 0, 0.1) solid;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	border-radius: inherit;
	-webkit-transition: border-color 0.2s;
	-o-transition: border-color 0.2s;
	-moz-transition: border-color 0.2s;
	transition: border-color 0.2s;
}
@media (pointer: fine) {
	.cb-btn_more:hover .cb-btn_more-title span {
		color: #fff;
		-webkit-transform: translateY(-150%) skewY(-7deg);
		-moz-transform: translateY(-150%) skewY(-7deg);
		-ms-transform: translateY(-150%) skewY(-7deg);
		-o-transform: translateY(-150%) skewY(-7deg);
		transform: translateY(-150%) skewY(-7deg);
	}
}
@media (pointer: fine) {
	.cb-btn_more:hover .cb-btn_more-title span:after {
		-webkit-transform: skewY(7deg);
		-moz-transform: skewY(7deg);
		-ms-transform: skewY(7deg);
		-o-transform: skewY(7deg);
		transform: skewY(7deg);
	}
}
@media (pointer: fine) {
	.cb-btn_more:hover .cb-btn_more-ripple span {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		-webkit-transition-duration: 0s, 0s;
		-moz-transition-duration: 0s, 0s;
		-o-transition-duration: 0s, 0s;
		transition-duration: 0s, 0s;
		-webkit-animation: cb-checkbox_rounded-ripple-in 0.5s
			cubic-bezier(0.4, 0, 0, 1);
		-moz-animation: cb-checkbox_rounded-ripple-in 0.5s
			cubic-bezier(0.4, 0, 0, 1);
		-o-animation: cb-checkbox_rounded-ripple-in 0.5s cubic-bezier(0.4, 0, 0, 1);
		animation: cb-checkbox_rounded-ripple-in 0.5s cubic-bezier(0.4, 0, 0, 1);
	}
}
@media (pointer: fine) {
	.cb-btn_more:hover.-inverse svg {
		color: #fff;
	}
}
/**********************
bg effects
*/
.bg-gradient {
	background: var(--bg-gradient);
}
.parallax-container section {
	width: 100%;
	height: 80vh;
	flex: 1;
	display: flex;
	text-align: center;
	position: relative;
	overflow: hidden;
	background-color: #000;
	z-index: 0;
}
.parallax-container section #parallax {
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 500;
}
