@font-face {
	font-family: nunito;
	src: url(./assets/Nunito-Regular.ttf);
}
body {
	cursor: url('../assets/vector_cursor.svg'),pointer !important;
	background-color: rgb(17, 18, 19);
}
:root {
  --dark-color: hsl(var(--hue), 100%, 9%);
  --light-color: hsl(var(--hue), 95%, 98%);
  --base: hsl(var(--hue), 95%, 50%);
  --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
  --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);

  --font-family: "Poppins", system-ui;

  --bg-gradient: linear-gradient(
    to bottom,
    hsl(var(--hue), 95%, 99%),
    hsl(var(--hue), 95%, 84%)
  );
}
/* General page layout 
--------------------------*/
.text-gradient {
  background-image: linear-gradient(
    45deg,
    var(--base) 25%,
    var(--complimentary2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.bg-top-planet {

	width: 460.4px;
	height: 460.4px;

	background: linear-gradient(180deg, #174AFF 0%, rgba(82, 0, 255, 0.06) 87.5%, rgba(245, 138, 37, 0) 100%, #0038FD 100%);
	filter: blur(100px);

	z-index: -1;


}
.bg-middle-planet {
	position: absolute;
	width: 629.21px;
	height: 629.21px;
	background: linear-gradient(180deg, #575EFF 0%, rgba(17, 112, 255, 0.46) 100%);
	filter: blur(200px);
	z-index: -1;
	bottom: 0;
	right: 200px;
	top: 200px;
}
.large-container {
	max-width: 1440px;
	width: 90%;
	margin: auto;
}
.hp-banner {
	padding-top: 120px;
	padding-bottom: 120px;
	position: relative;
	overflow: hidden;
	background-image: none;
	color: rgb(214, 227, 238);
}
.subtitle-light {
	color: rgb(214, 227, 238);
}
.circle-hover{
	width: 378px;
	height: 378px;
	background: #174AFF;
	filter: blur(400px);
	position: absolute;
}
/* General text
--------------------------*/
strong {
	font-weight: 600;
}
.brief {
	max-width: 92%;
	line-height: 150%;
	min-width: 410px;
}
.brief-responsibility {
	display: block;
	margin: 30px 0 0 0;
	color: #6f6f6f;
	letter-spacing: 0.04375em;
	line-height: 156%;
}
.project-link {
	max-height: 150vh;
	width: auto;
	text-align: left;
	display: inline-block;
	transform: translateY(0);
	transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.project-link:hover,
.project-link:focus {
	transform: translateY(-4px);
}
.link-animate {
	transform: translateY(0);
	transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);	
}
.link-animate:hover,
.link-animate:focus {
	transform: translateY(-4px);
}
/* Specific page layout 
--------------------------*/

a {
	text-decoration: none;
	text-decoration: underline;
}

/* Not too many browser support this yet but it's good to add! */
@media (prefers-contrast: high) {
	.orb-canvas {
		display: none;
	}
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 840px) {
	.project-link {
		height: 50vh;
	}
}

@media only screen and (max-width: 600px) {
	.brief {
		min-width: auto;
	}
}
