@import './prism.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.noise {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 4px;
  z-index: 20;
}

.overlay::before {
  content: '';
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    transparent 0%,
    rgba(225, 225, 225, 0.1) 2%,
    rgba(225, 225, 225, 0.4) 3%,
    rgba(225, 225, 225, 0.1) 3%,
    transparent 100%
  );
  background-repeat: no-repeat;
  animation: scan 15s linear 5s infinite;
}

@keyframes scan {
  0% {
    background-position: 0 -100vh;
  }
  35%,
  100% {
    background-position: 0 100vh;
  }
}
.player_dither__2ctrc {
  animation: player_animate-mask__2OmYh 350s linear infinite;
  -webkit-mask-size: 71px;
  mask-size: 71px;
  -webkit-mask-image: url(https://assets.vercel.com/image/upload/v1715810978/front/ship-2024/perlin-noise-2.png);
  mask-image: url(https://assets.vercel.com/image/upload/v1715810978/front/ship-2024/perlin-noise-2.png);
}
.bg {
  --grid-offset: calc(50% - 3.75rem / 2);
  background-image: linear-gradient(to right, #0b0b0b 1px, transparent 1px),
    linear-gradient(to bottom, #0b0b0b 1px, transparent 1px);
  background-position: var(--grid-offset) var(--grid-offset);
  background-size: 3.75rem 3.75rem;
}
